/* DEFAULT VALUES */

* {
  margin: 0;
}

body {
  margin: auto;
  font-family: 'Lato', sans-serif;
}

.mv-4 {
  margin: 4px 0px;
}

.mv-8 {
  margin: 8px 0px;
}

.mv-16 {
  margin: 16px 0;
}

.mv-24 {
  margin: 24px 0;
}

/* NAVIGATION */

nav {
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  padding: 12px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.11);
}

.nav-container {
  display: flex;
  width: 1360px;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.tag {
  margin-left: 8px;
}

.site-name {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.site-tag {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
}

input[name='search'] {
  width: 450px;
  height: 30px;
  margin: auto;
  padding: 4px 12px;
}

.main-nav {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.avatar {
  margin: 0px 8px;
}

.navbar-icon {
  margin: 0px 8px;
}

.notification {
  position: relative;
}

.notification-count {
  font-size: 12px;
  font-weight: 900;
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

.notification-active {
  background-color: rgb(18, 163, 18);
  color: white;
}

.notification-count-position {
  position: absolute;
  top: -14px;
  right: -4px;
}

/* MAIN SECTION */

main {
  margin: auto;
  display: grid;
  width: 100%;
  gap: 16px;
  max-width: 1360px;
}

/* FEATURED BOOKS SECTION */
.featured {
  margin-top: 24px;
  margin-bottom: 48px;
}

.featured-cover {
  opacity: 1;
  width: 250px;
  height: 300px;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.content-effect {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.book-text-white {
  color: white;
}

.carousel-cell:hover .featured-cover {
  opacity: 0.1;
}

.carousel-cell:hover .content-effect {
  opacity: 1;
}

.width-80p {
  width: 80%;
}

/* FLICKITY CUSTOMIZATION */

.carousel {
  background: #eee;
}

.carousel-cell {
  width: 250px;
  height: 300px;
  margin-right: 16px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 10%, rgb(0, 0, 0));
  border-radius: 5px;
}

/* THE PREVIOUS AND NEXT BUTTONS */

.flickity-button {
  background: rgba(255, 255, 255, 0.19);
}

.flickity-button:hover {
  background: rgba(255, 255, 255, 0.6);
}

.flickity-prev-next-button {
  width: 40px;
  height: 300px;
  border-radius: 0px;
}

/* ICON COLOR */

.flickity-button-icon {
  fill: black;
}

/* POSITIONING OUTSIDE */

.flickity-prev-next-button.previous {
  left: -30px;
}

.flickity-prev-next-button.next {
  right: -30px;
}

/* PUSH DOTS DOWN */

.flickity-page-dots {
  bottom: -40px;
}

/* SIDEBAR CONTENT */

.sidebar {
  margin: 0;
  width: 325px;
  position: fixed;
  overflow: auto;
  height: 100%;
  box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.11);
}

.sidebar-header {
  padding-top: 16px;
  font-weight: bold;
  border-top-width: 2px;
  border-top-color: rgba(0, 0, 0, 0.3);
  border-top-style: solid;
}

.sidebar-content {
  padding: 24px;
}

.active {
  color: green;
}

.with-badge {
  display: flex;
  height: 30px;
  font-size: 14px;
  justify-content: space-between;
  align-items: center;
}

.with-badge > p {
  font-weight: 500;
}

/* OTHER BOOKS SECTION */

.main {
  padding: 8px;
  margin-left: 325px;
}

.books {
  margin: 24px;
}

header {
  font-size: 14px;
  line-height: 36px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.12);
  border-bottom-style: solid;
}

.books-listing {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 24px;
  grid-auto-rows: 150px;
}

.book {
  display: flex;
}

.book:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.book-cover {
  margin-right: 8px;
}

.book-cover-image {
  width: 120px;
  height: 150px;
}

.book-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.availiability {
}

.book-text {
  font-size: 14px;
}

.status-yes {
  color: green;
}

.status-no {
  color: red;
}

.book-info {
}

.title {
  font-size: 16px;
  font-weight: bold;
}

.metrics {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ratings {
}
